

.secao-banner{
    height: 40vh;
}

.apresentacao-quartos img{
    width: 350px;
    flex-grow: 1;
}

.lista-quartos{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.listas{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}
.listas li{
    width: 230px;
    text-align: left;
}

